
[ENV]

# PLATFORM = yes
# PROFILE = yes
# LASTSYNC = yes
# ARCH = yes
# CHOST = yes
# CFLAGS = yes
# CXXFLAGS = yes
# FFLAGS = yes
# LDFLAGS = yes
# MAKEOPTS = yes
# SYNC = yes
# ACCEPT_KEYWORDS = yes
# GENTOO_MIRRORS = yes
# FEATURES = yes
# USE = yes

[PACKAGES]

# REPO = yes
# KEYWORD = yes
# USE_PLUS = yes
# USE_MINUS = yes
# USE_UNSET = yes
# COUNTER = yes
# SIZE = yes
# BUILD_TIME = yes
