$def with (count)
$var title: Gentoostats

Welcome to the gentoostats webapp <br/>
<br/>
Number of hosts: $count<br/>

<h2>Statistics</h2>
<ul>
    <li>Arch statistics: <a href="/gentoostats/arch">/arch</a></li>
    <li>Portage feature statistics: <a href="/gentoostats/feature">/feature</a></li>
    <li>Keyword statistics: <a href="/gentoostats/keyword">/keyword</a></li>
    <li>Language statistics: <a href="/gentoostats/lang">/lang</a></li>
    <li>Mirror statistics: <a href="/gentoostats/mirror">/mirror</a></li>
    <li>Package statistics: <a href="/gentoostats/package">/package</a></li>
    <li>Profile statistics: <a href="/gentoostats/profile">/profile</a></li>
    <li>Repository statistics: <a href="/gentoostats/repo">/repo</a></li>
    <li>Useflag statistics: <a href="/gentoostats/use">/use</a></li>
</ul>

<h2>Package search</h2>
<ul>
    <li><a href="/gentoostats/search">/search</a></li>
</ul>
