$def with (cat, pdata)
$var title: $cat

No. of hosts: $pdata['HOST_COUNT']</br>
No. of category-packages: $pdata['CP_COUNT']</br>
No. of category-package-versions: $pdata['CPV_COUNT']</br>
Top CPs:</br>
<table border="1">
    <tr>
        <th>Category</th>
        <th>Package</th>
        <th>Hosts</th>
    </tr>
    $for p in pdata['TOP_CP']:
        <tr><td><a href="package/$p['CAT']">$p['CAT']</a></td>
        <td><a href="$p['CAT']/$p['PKG']">$p['PKG']</a></td>
        <td>$p['HOST_COUNT']</td></tr>
</table>
